* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr 1fr 1fr 100px 100px 100px;
    grid-template-areas: "hd hd hd" "side main main" "side main main" "side main main" "side main main" "ft ft ft";
    max-width: 760px;
    margin: auto;
}

h2 {
    /* color: red; */
    font-weight: 100;
    font-size: 1.5em;
}

header {
    /* background-color: rgba(135, 222, 147, 0.438); */
    grid-area: hd;
}

.avatar {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.avatar__name {
    font-size: 3em;
    margin: auto;
}

.avatar__box {
    width: 210px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar__img {
    width: 210px;
    /* height: 200px; */
    margin-top: -30px;
}

ul {
    list-style-type: none;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* grid-area: nv; */
    /* background: cornsilk; */
    padding: 0;
    margin: 0;
    border-bottom: solid 3px #E8E8E8;
    border-top: solid 3px #E8E8E8;
    height: 70px;
}

nav li {
    display: block;
    align-self: center;
    justify-self: center;
    /* margin: 10px; */
    width: 60%;
    text-align: center;
}

nav a {
    text-decoration: none;
    transition: all .8s ease;
    color: #256dbe;
}

nav li a:hover {
    display: inline-block;
    width: 120px;
    border-left: solid 2px #e8e8e8;
    border-right: solid 2px #e8e8e8;
}

aside {
    grid-area: side;
}

code {
    padding: 10px;
    overflow: hidden;
}

p {
    text-indent: 1em;
    text-align: justify;
}

h2 {
    margin: 10px 5px 10px;
}


/* nav ul {
    /* display: flex;
  -ms-flex-align: start; */

main {
    /* background-color: rgb(222, 184, 135, 0.5); */
    grid-area: main;
}

footer {
    background-color: rgba(67, 59, 117, 0.438);
    margin-top: 20px;
    display: flex;
    place-content: flex-end space-around;
    align-items: center;
    /* justify-content: space-around;
    align-content: flex-end; */
    grid-area: ft;
}

footer img {
    width: 80px;
    height: 40px;
}


/* Contacts */

.contacts__item img {
    width: 32px;
    height: 32px;
}

.contacts ul {
    display: flex;
    /* justify-content: space-around; */
}

.contacts li {
    margin-left: 5px;
    /* justify-content: space-around; */
}


/* .contacts h2 {
    text-align: center; */


/* } */
