/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1.2fr 2fr 50px;
    grid-template-rows: 0.5fr 5fr 50px;
    grid-template-areas: "hd hd hd" "side main main" "ft ft ft";
    max-width: 75%;
    margin: auto;
    gap: 1em;
}

h1 {
    display: inline-block;
    width: 200px;
}

h2 {
    /* font-weight: 100; */
    font-size: 1.5em;
    margin: 10px 5px 10px;
}

h3,
h4 {
    font-size: 0.9em;
}

ul {
    list-style-type: none;
}

p {
    text-indent: 1em;
    text-align: justify;
}

pre {
    margin: 0;
}


/* Header */

header {
    grid-area: hd;
}

.avatar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.avatar__name {
    font-size: 3em;
    /* margin: auto; */
}

.avatar__box {
    width: 210px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    /* margin-right: 70px; */
}

.avatar__img {
    width: 210px;
    /* height: 200px; */
    margin-top: -30px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    border-bottom: solid 3px #E8E8E8;
    border-top: solid 3px #E8E8E8;
    height: 70px;
}

.nav li {
    display: block;
    align-self: center;
    justify-self: center;
    margin: 15px;
    width: 60%;
    text-align: center;
}

.nav a {
    text-decoration: none;
    transition: all .8s ease;
    color: #256dbe;
}

.nav li a:hover {
    display: inline-block;
    width: 120px;
    border-left: solid 2px #e8e8e8;
    border-right: solid 2px #e8e8e8;
}

.avatar__joke {
    width: 180px;
    /* display: inline; */
    /* flex-direction: row-reverse; */
}

.avatar span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    display: inline-block;
    width: 150px;
    /* position: absolute;
top: 90px;
right: 150px; */
    transform: rotate(-30deg);
    position: relative;
    top: 70px;
}

.avatar__arrow {
    width: 120px;
    height: 100px;
    transform: scaleX(-1) rotate(180deg);
    position: relative;
    top: -100px;
    left: -60px;
}


/* Main */

main {
    grid-area: main;
}

main article {
    margin-bottom: 30px;
}

code {
    padding: 10px;
    overflow: hidden;
}

.experience img {
    order: -2;
    width: 96px;
    height: 48px;
}

.experience section {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #E8E8E8;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.experience p {
    margin-bottom: 10px;
}

.experience__company {
    order: -1;
    text-indent: 1em;
}

.experience__postwrapper {
    margin-bottom: 25px;
}

.experience__tasks {
    list-style-type: disc;
    text-indent: 10px;
    padding-left: 40px;
}

.experience__postwrapper ul {
    margin-bottom: 10px;
}

.experience__period {
    font-style: italic;
}

.experience__post {
    font-weight: 500;
}


/* Contacts */

aside {
    grid-area: side;
}

.contacts__item img {
    width: 32px;
    height: 32px;
}

.contacts ul {
    display: flex;
}

.contacts li {
    margin-left: 5px;
}


/* Skills  */

.skills img {
    width: 23px;
    height: 32px;
    margin-right: 5px;
}

.skills ul>li {
    display: inline-block;
    border-right: solid 1px #7c7777;
    padding: 0px 5px;
}

.skills section {
    margin: 5px 5px 5px;
    border-bottom: solid 1px #E8E8E8;
    padding-bottom: 10px;
}

.skills section div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}


/* Language */

.language__flag {
    width: 32px;
    height: 23px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-right: 20px;
}

.language__wrapper {
    display: flex;
    flex-direction: row;
}


/* Education */

.education__university {
    margin-bottom: 10px;
}

.education__cert {
    margin-bottom: 10px;
}

.education__cert ul {
    list-style-type: disc;
}

.education__period {
    font-style: italic;
}


/* Footer */

footer {
    margin-top: 20px;
    display: flex;
    place-content: flex-end space-around;
    align-items: center;
    grid-area: ft;
}

footer img {
    width: 80px;
    height: 40px;
}
